# Android
*.iml
.gradle
/local.properties
/.idea
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
*.apk
*.aab
# google-services.json  # 비공개 레포이므로 커밋 허용

# Firebase
.firebase/
firebase-debug.log
.firebaserc

# Node
node_modules/
functions/node_modules/

# Keys
*.keystore
*.jks
